@import url('https://fonts.googleapis.com/css2?family=Asap:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  font-family: 'Asap', sans-serif;  
  color: var(--background_color);
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Lato', sans-serif;
}

body {
  background-color: var(--body_background);
}

.hero-image {
  opacity: 0.4;
  border-radius: 50%;
  width: 50vw;
}

.decoration-none {
  text-decoration: none;
}

.list-link {
  color: var(--link_color);
  font-family: 'Lato', sans-serif;
}

.no-style {
  list-style: none;
}